<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${player.name}"></title>
    <link href="/main.css" rel="stylesheet">
    <link href="/navbar.css" rel="stylesheet">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:replace="~{ Normal/nav.html :: navbar }"></div>
<button class="delete-player" sec:authorize="hasRole('ADMIN')">選手削除</button>
<div class="box">
    <div>
        <img th:src="${player.src}" alt="players'image"/>
        <h4 th:text="${player.name}"></h4>
        <p class="number" th:text="${player.backNumber}"></p>
        <a th:href="@{/update/{backNumber}(backNumber=${player.backNumber})}">
            <button th:text="選手情報更新"></button>
        </a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $('.delete-player').on('click',function(){
        const confirmed = window.confirm("本当に削除してもよろしいですか？");
        if (!confirmed) return;

        const csrfToken = $('meta[name="_csrf"]').attr('content');
        const csrfHeader = $('meta[name="_csrf_header"]').attr('content');

        const playerNumber = Number($('.number').html());

        fetch('/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]:csrfToken
            },
            body: JSON.stringify({playerNumber: playerNumber})
        })
            .then(response => response.text())
            .then (url=>{
                window.location.href=url;
            })
    })
</script>

</body>
</html>
