<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>グッズリスト</title>
    <link href="/main.css" rel="stylesheet">
    <link href="/navbar.css" rel="stylesheet">
    <link href="/productList.css" rel="stylesheet">
    <link href="/card.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ Normal/nav.html :: navbar }"></div>

<div class="page-wrapper">
    <div class="product-grid">
        <div class="card" th:if="${products != null}" th:each="product : ${products}">
            <a th:href="@{/products/{id}(id=${product.id})}">
                <img class="card-img-square" th:src="${product.image}" alt="product's image">
            </a>
            <div class="card-body">
                <p class="card-name" th:text="${product.name}"></p>
                <p class="card-price" th:text="${#numbers.formatDecimal(product.price,0,'COMMA',0,'COMMA')} + ' 円'"></p>
            </div>
        </div>
        <div th:if="${products == null}">
            <p>商品情報がありません</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>
</html>
