<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}"></title>
    <link href="/main.css" rel="stylesheet">
    <link href="/navbar.css" rel="stylesheet">
    <link href="/product.css" rel="stylesheet">
    <link href="/form.css" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<div th:replace="~{ Normal/nav.html :: navbar }"></div>

<div class="page-wrapper">
    <div class="product-detail-box">
        <div>
            <img th:src="${product.image}" alt="goods image"/>
        </div>

        <div>
            <h2 class="product-name" id="productName" th:text="${product.name}"></h2>
            <h4 id="price" th:text="${product.price}" class="hidden"></h4>
            <p class="product-price" th:text="${#numbers.formatDecimal(product.price,0,'COMMA',0,'COMMA')} + ' 円'"></p>

            <span id="productNumber" th:text="${product.id}" class="hidden"></span>

            <h4>注文</h4>
            <div class="control">
                <button class="btn btn-primary" type="button" data-id="minus">−</button>
                <span class="count">0</span>
                <button class="btn btn-primary" type="button" data-id="plus">＋</button>
            </div>

            <span class="username hidden" sec:authorize="isAuthenticated()" sec:authentication="principal.username"></span>

            <div class="order">
                <button class="btn btn-primary" type="button" data-id="buy">購入する</button>
                <button class="btn btn-outline" type="button" data-id="cart">カートに入れる</button>
                <h4>合計金額 : <span class="sum">0</span> 円</h4>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    let count = Number($('.count').html());
    const price = Number($('#price').html());
    const productId = Number($('#productNumber').html());
    const csrfToken = $('meta[name="_csrf"]').attr('content');
    const csrfHeader = $('meta[name="_csrf_header"]').attr('content');

    const checkLoginStatus = async () => {
        const response = await fetch("/check-login", {
            method: "GET",
            credentials: "include",
            headers: {
                "Content-Type": "application/json",
                [csrfHeader] : csrfToken
            }
        })

        if (response.ok) {
            const json = await response.json();
            return json.username;
        } else {
            return false
        }
    }

    $('[data-id="minus"]').on('click', function(){
        if (count<=0)
            return;

        count--;
        $('.count').html(count);
        $('.sum').html(count * price);
    })

    $('[data-id="plus"]').on('click', function(){
        count++;
        $('.count').html(count);
        $('.sum').html(count * price);
    })

    $('[data-id="buy"]').on('click', async function(){
        if (count === 0) {
            alert('1個以上選んでください');
            return;
        }

        const isAuthenticated = await checkLoginStatus();
        if (!isAuthenticated) {
            alert('ログインしてください');
            return;
        }

        const confirm = window.confirm('本当に購入しますか？')
        if (!confirm) return;

        const payload = {
            productId : productId,
            quantity : count,
            pricePerUnit : price,
        }

        const orderRes = await fetch("/makeNewSale",{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]:csrfToken
            },
            body: JSON.stringify(payload)
        });

        if (orderRes.ok) {
            alert('購入が完了しました');
        } else {
            const text = await orderRes.json();
            console.error('order failed', orderRes.status, text.message);
            alert('購入に失敗しました: ' + orderRes.status);
        }

    })
</script>
</body>
</html>
