<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会員登録</title>
    <link href="/input.css" rel="stylesheet">
</head>
<body>
<div th:text="会員登録"></div>
<form id="signup-form">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <div>
    <input type="text" name="username" placeholder="ID">
        <p class="description">IDは英語と数字を含めて５文字以上にしてください</p>
    </div>
    <div>
    <input type="password" name="password" placeholder="パスワード">
        <p class="description">パスワードは英語と数字、記号を含めて８文字以上にしてください</p>
    </div>
    <div>
    <input type="text" name="nickname" placeholder="ニックネーム">
        <p class="description">ニックネームは３文字以上にしてください</p>
    </div>
    <div>
    <button type="submit">登録</button>
    </div>
</form>

<script>
    document.getElementById("signup-form").addEventListener("submit", async function (e) {
        e.preventDefault();

        const formData = new FormData(this);

        try {
            const response = await fetch("/infoInput", {
                method: "POST",
                body: formData
            });

            const result = await response.text();

            if (result==="ok") {
                window.location.href="/login";
            } else {
                alert(result);
            }
        } catch (error) {
            console.error("エラー発生", error);
            alert("サーバーエラーが発生しました");
        }
    });
</script>
</body>
</html>