input, button {
    padding: 8px 13px;
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    vertical-align: middle;
}

button {
    background: black;
    color: white;
    border: none;
}

button:hover{
    transform:scale(1.1);
    transition:all 0.4s ease;
}

input {
    display: block;
}

img{
    width:200px;
    height:200px;
}
