<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Add Player</title>
    <link href="/input.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ Normal/nav.html :: navbar }"></div>

<form action="/playerAdd" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <label>選手名 : 苗字と名前の間に空白を入れてください
        <input type="text" name="name">
    </label>
    <label>背番号
        <input type="text" name="backNumber">
    </label>
    <input type="file" onchange="getURL(this)">
    <label>
        <input type="hidden" name="url" value="">
    </label>
    <label>
        <button type="submit">転送</button>
    </label>
    <div>
        <img th:class="uploaded-image" src="" alt="アップロードされたイメージ">
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    async function getURL(e) {
        let name = encodeURIComponent(e.files[0].name)
        let result = await fetch('/presigned-url?filename=' + name)
        result = await result.text()

        let upload = await fetch(result, {
            method: 'PUT',
            body: e.files[0]
        })

        console.log(upload.url.split("?")[0]);

        if (upload.ok) {
            const imageUrl = upload.url.split("?")[0];
            $('.uploaded-image').attr('src', upload.url.split("?")[0]);
            $('input[name="url"]').val(imageUrl);
        }
    }
</script>

</body>
</html>
