<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/input.css" rel="stylesheet">
    <link href="/navbar.css" rel="stylesheet">

</head>
<body>
<div th:replace="~{ Normal/nav.html :: navbar }"></div>

<form action="/playerUpdate" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input type="hidden" name="info" th:value="${player.backNumber}">
    <input type="text" name="name" th:value="${player.name}">
    <input type="text" name="backNumber" th:value="${player.backNumber}">
    <button type="submit">転送</button>
</form>
</body>
</html>
